# Archivos de configuración y ocultos
.*
!.gitignore

# Imagenes guardadas
data/

# Archivos de cache y compilados de python
__pycache__/
*.pyc

# venv de la jetson
omnibot-cv/
dataset/

# folder de logs
logs/
